// @tailwind base;
// @tailwind components;
// @tailwind utilities;

/*****************/
/**  Variables  **/
/*****************/

/* Main colours */
$ge_color: #0A0;
$tr_color: purple; // #975ebe
$pr_color: #D00;
$me_color: orange; //#ff974e
$ph_color: #00CED1; // DarkTurquoise
$pa_color: #FA8072;
$hl_color: blue;
$score_color: blue;
$op_light_grey: #F8F8F8;
$op_light_grey_2: #f1f5f9;
$op_blue_2: #0d6efd;
$op_blue_3: #0a58ca;

/* Omics colours */
$omics_colors: (
  "Metabolomics": $me_color,
  "Proteomics": $pr_color,
  "Transcriptomics": $tr_color
);

/* Type colours */
$type_colors: (
    'gene': $ge_color,
    'transcript': $tr_color,
    'protein': $pr_color,
    'metabolite': $me_color,
    'phecode': $ph_color,
    'score': $score_color,
    'pathway': $pa_color
);


/********************/
/**  SCSS Content  **/
/********************/

body {
    // font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-family: "Helvetica","Helvetica Neue","Arial","sans-serif";
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

footer {
    width:100vw !important;
    a > svg {
        vertical-align: top !important;
        margin-top:1px;
        font-size: 22px;
    }
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

a {
    font-weight: 500;
    /* color: #646cff; */
    color: $op_blue_2;
    text-decoration: none !important;
    /* color: #222;
    border-bottom: 1px dotted #646cff; */
    &:hover {
        /* color: #535bf2; */
        color: $op_blue_3 !important;
    }
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-extra {
    margin-top: 4rem;
    margin-bottom: 4rem !important;
    // min-height: 100vh;
}
.container-fluid {
    padding-left: 3rem !important;
    padding-right:3rem !important;
}

.home_header {
    position: relative;
    z-index: 1;
    // background-color: #ebf5fb;
    background-color: $op_light_grey_2; //rgb(248, 249, 250);
    max-height: 765px;
    .home_header_search {
        margin-top:10px;
        padding:1rem;
        // background-color: white;
        z-index: 4;
        .search_input {
            width: 100%;
            border: 2px solid $op_blue_2;
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
        }
        button {
            border: 2px solid #FFF;
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
        }
    }
    .home_header_left {
    
        // background-color: white;
        z-index: 3;
        > div {
            padding:1rem;
            background-color: white;
        }

    }
    // .home_header_right {
    //     z-index: 2;
    //     display: block;
    //     margin-left: auto;
    //     margin-right:0px;
    //     max-height: 765px;
    // }

    .home_header_right {
        background-image: url('/src/assets/landing.jpg');
        z-index: 2;
        display: block;
        margin-left: auto;
        margin-right:0px;
        max-width: 766px;
        height: 765px;
    }
}

.search_input {
    border: 1px solid $op_blue_2 !important;
}
// .logo {
//     height: 6em;
//     padding: 1.5em;
//     will-change: filter;
//     transition: filter 300ms;
//     &:hover {
//         filter: drop-shadow(0 0 2em #646cffaa);
//     }
// }
// .logo.react:hover {
//     filter: drop-shadow(0 0 2em #61dafbaa);
// }

.page_title {
    margin: 1rem 0rem 2rem;
    > span {
        color: $hl_color;
    }
}

footer a > svg {
    vertical-align: top !important;
    margin-top:1px;
    font-size: 22px;
  }
  
.external-link > svg:last-child {
    display: inline-block;
    font-size: 1rem;
    vertical-align: top !important;
    padding-left:6px;
}
  

.even_section, .odd_section {
    padding: 0rem 2rem 2rem;
    margin: 4rem 0rem 0rem;
    text-align:center;
    .op_section_title {
        font-size: 32px;
        margin-bottom: 2rem;
    }
    .op_subsection_header {
        background-color: $op_light_grey_2;
    }
}
.even_section {
    padding: 1rem 2rem 2rem;
    background-color: $op_light_grey_2;
}

.relative {
    position: relative;
}
.block {
    display:block;
}

.card {
    padding: 2em;
}

ul.key_val_line {
    margin-bottom: 2rem;
}
.key_val_line {
    .line_key {
        font-weight: bold;
        &:after {
            content: ':';
            margin-right: 0.5rem;
        }
    }
}

.omics_header {
    border-radius: 4px;
}


.MuiFormLabel-root {
    font-weight: bold !important;
}
.MuiDataGrid-cell {
    padding: 12px !important;
}

/* Images */
.op_big_icons {
    max-height: 70px !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}


/* Bootstrap overwrite */
.btn-primary:hover {
    color: #FFF !important;
}
.table_card > tbody > tr > td {
    padding: 4px;
}
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    margin-top: 0px !important;
}

// .nav-item:hover .dropdown-menu{
//     display:block!important
// }


/* Tables */
.MuiDataGrid-columnHeadersInner {
    background-color: #EFEFEF;
}

.MuiDataGrid-columnHeaderTitle {
    font-weight: bold !important;
}

.MuiBox-root {
    flex: 0 0 2% !important;
}

.MuiDataGrid-root .MuiInputBase-root {
    background-color: #FAFAFA !important;
    padding-left: 4px;
}

.table_card {
    td {
        padding:3px 0px;
        vertical-align: top;
    }
    td:first-child {
        font-weight: bold;
        &:after {
            content: ':';
            margin-right: 0.5rem;
        }
    }
}
.table_card_col_centered {
    td:first-child {
        text-align:right;
    }
}

.border_left_mark {
    border-left: 6px solid;
    padding: 0rem 0rem 0rem 0.5rem;
}
.left_mark {
    padding: 2px 0.25rem;
    margin-right: 0.5rem;
}

.training_col {
    color: $op_blue_2;
}
.col_border_left {
    border-left: 1px solid;
}
.col_border_right {
    border-right: 1px solid;
}

/* Button */
.op_toogle {
    line-height: 24px;
    height: 24px;
    svg {
        color: $op_blue_2 !important;
        vertical-align: top;
        margin-top:4px;
        &:hover {
            color: $op_blue_3 !important;
        }
    }
    &:hover {
        color: $op_blue_3 !important;
        cursor: pointer;
    }
}

.op_search_card {
    div {
        display:inline-block;
        vertical-align:top;
    }
    div:first-child {
        height:26px;
        margin-top:1px;
        vertical-align:top
    }
}

.op_search_feature_legend {
    span {
        display:inline-block;
        vertical-align:top;
    }
    span:first-child {
        border-radius:2px;
        margin-top:5px;
    }
    span:last-child:first-letter {
        text-transform: uppercase;
    }
}

/* Colour classes */
.hl_color {
    color: $hl_color;
}

.hl_grey_box {
    background-color: $op_light_grey;
}

.ge_color {
    color: $ge_color;
}
.tr_color {
    color: $tr_color;
}
.pr_color {
    color: $pr_color;
}
.me_color {
    color: $me_color;
}

.ge_color_bg {
    background-color: $ge_color;
}
.tr_color_bg {
    background-color: $tr_color;
}
.pr_color_bg {
    background-color: $pr_color;
}
.me_color_bg {
    background-color: $me_color;
}

@each $omics_key, $omics_color in $omics_colors {
    .color_#{$omics_key} {
        color: $omics_color;
    }

    .border_color_#{$omics_key} {
        border-color: $omics_color !important;
    }

    .border_#{$omics_key} {
        border: 1px solid $omics_color;
    }

    .hl_#{$omics_key} {
      border-bottom: 1px solid $omics_color;
    }

    .badge_#{$omics_key} {
        background-color: $omics_color;
        font-weight: normal !important;
    }

    .bg_#{$omics_key} {
        background-color: $omics_color;
        font-weight: normal !important;
        color: $omics_color;
    }
}

@each $type_key, $type_color in $type_colors {
    .color_#{$type_key} {
        color: $type_color;
    }

    .bg_#{$type_key} {
        background-color: $type_color;
    }

    .border_color_#{$type_key} {
        border-color: $type_color !important;
    }
}


@media screen and (max-width: 766px) {
    .container-fluid {
        padding-left: 0.5rem !important;
        padding-right:0.5rem !important;
    }
    .home_header_left {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        > div {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
    }
    .home_header_right {
        height: 730px !important;
    }
    // .home_header_right {
    //     width: 100%;
    //     // overflow: hidden;
    //     margin-left: 0px;
    //     height: 740px;
    //     background-size: cover;
    // }
}