// @tailwind base;
// @tailwind components;
// @tailwind utilities;


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

footer {
    width:100% !important;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-extra {
    margin-top: 4rem;
    margin-bottom: 5rem;
    min-height: 100vh;
}
.container-fluid {
    padding-left: 3rem;
    padding-right:3rem;
}
// .min-vh-100 {
//     min-height: 100vh!important;
// }
// .min-vw-100 {
//     min-width: 100vw !important;
// }

.home_header {
    position: relative;
    .home_header_left {
        padding-top:80px;
    }
    .home_header_right {
        z-index: 1;
        position:relative; 
        top:80px; 
        right:0px;
        width: 50%;
    }
}

.page_title {
    margin: 1rem 0rem 2rem;
    > span {
        color: blue;
    }
}

.even_section, .odd_section {
    padding: 0rem 2rem 2rem;
    margin: 4rem 0rem 0rem;
    text-align:center;
    .op_section_title {
        font-size: 32px;
        margin-bottom: 2rem;
    }
    .op_subsection_header {
        background-color: rgb(241,245,249);
    }
}
.even_section {
    padding: 1rem 2rem 2rem;
    background-color: rgb(241,245,249);
}

.relative {
    position: relative;
}
.block {
    display:block;
}

/* Images */
.op_big_icons {
    max-height: 70px !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Tables */
.MuiDataGrid-columnHeadersInner {
    background-color: #EFEFEF;
}

.MuiDataGrid-columnHeaderTitle {
    font-weight: bold !important;
}


.training_col {
    color:#0d6efd;
}
.cols_group {
    border-left: 1px solid;
}
.col_border_left {
    border-left: 1px solid;
}


.key_val_line {
    .line_key {
        font-weight: bold;
        &:after {
            content: ':';
            margin-right: 0.5rem;
        }
    }
}


.ge_color_bg {
    background-color: #0A0;
}
.tr_color_bg {
    background-color: purple; // #975ebe
}
.pr_color_bg {
    background-color: #D00;
}
.me_color_bg {
    background-color: orange; //#ff974e
}
