// @tailwind base;
// @tailwind components;
// @tailwind utilities;

/* Variables */
$ge_color: #0A0;
$tr_color: purple; // #975ebe
$pr_color: #D00;
$me_color: orange; //#ff974e
$ph_color: #00CED1; // DarkTurquoise
$hl_color: blue;
$op_light_grey: #F8F8F8;

/* Omics colours */
$omics_colors: (
  "Metabolomics": $me_color,
  "Proteomics": $pr_color,
  "Transcriptomics": $tr_color
);

/* Type colours */
$type_colors: (
    'gene': $ge_color,
    'transcript': $tr_color,
    'protein': $pr_color,
    'metabolite': $me_color,
    'phecode': $ph_color
);


body {
    font-family: "Helvetica","Helvetica Neue","Arial","sans-serif";
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

footer {
    width:100% !important;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-extra {
    margin-top: 4rem;
    margin-bottom: 5rem;
    min-height: 100vh;
}
.container-fluid {
    padding-left: 3rem;
    padding-right:3rem;
}
// .min-vh-100 {
//     min-height: 100vh!important;
// }
// .min-vw-100 {
//     min-width: 100vw !important;
// }

.home_header {
    position: relative;
    z-index: 1;
    // background-color: #ebf5fb;
    background-color: rgb(248, 249, 250);
    max-height: 765px;
    .home_header_left {
        margin-top:50px;
        padding:1rem;
        background-color: white;
        z-index: 3;

    }
    .home_header_right {
        z-index: 2;
        display: block;
        margin-left: auto;
        margin-right:0px;
        max-height: 765px;
    }
}

.hl_color {
    color: $hl_color;
}

.hl_grey_box {
    background-color: $op_light_grey;
}

.page_title {
    margin: 1rem 0rem 2rem;
    > span {
        color: $hl_color;
    }
}

.even_section, .odd_section {
    padding: 0rem 2rem 2rem;
    margin: 4rem 0rem 0rem;
    text-align:center;
    .op_section_title {
        font-size: 32px;
        margin-bottom: 2rem;
    }
    .op_subsection_header {
        background-color: rgb(241,245,249);
    }
}
.even_section {
    padding: 1rem 2rem 2rem;
    background-color: rgb(241,245,249);
}

.relative {
    position: relative;
}
.block {
    display:block;
}

/* Images */
.op_big_icons {
    max-height: 70px !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Tables */
.MuiDataGrid-columnHeadersInner {
    background-color: #EFEFEF;
}

.MuiDataGrid-columnHeaderTitle {
    font-weight: bold !important;
}


.training_col {
    color:#0d6efd;
}
.cols_group {
    border-left: 1px solid;
}
.col_border_left {
    border-left: 1px solid;
}

ul.key_val_line {
    margin-bottom: 2rem;
}
.key_val_line {
    .line_key {
        font-weight: bold;
        &:after {
            content: ':';
            margin-right: 0.5rem;
        }
    }
}


.omics_header {
    border-radius: 4px;
}

.ge_color {
    color: $ge_color;
}
.tr_color {
    color: $tr_color;
}
.pr_color {
    color: $pr_color;
}
.me_color {
    color: $me_color;
}

.ge_color_bg {
    background-color: $ge_color;
}
.tr_color_bg {
    background-color: $tr_color;
}
.pr_color_bg {
    background-color: $pr_color;
}
.me_color_bg {
    background-color: $me_color;
}

@each $omics_key, $omics_color in $omics_colors {
    .color_#{$omics_key} {
        color: $omics_color;
    }

    .border_color_#{$omics_key} {
        border-color: $omics_color !important;
    }

    .border_#{$omics_key} {
        border: 1px solid $omics_color;
    }

    .hl_#{$omics_key} {
      border-bottom: 1px solid $omics_color;
    }

    .badge_#{$omics_key} {
        background-color: $omics_color;
        font-weight: normal !important;
    }

    .bg_#{$omics_key} {
        background-color: $omics_color;
        font-weight: normal !important;
        color: $omics_color;
    }
}

@each $type_key, $type_color in $type_colors {
    .color_#{$type_key} {
        color: $type_color;
    }

    .bg_#{$type_key} {
        background-color: $type_color;
    }
}